extends common_parts/template.pug

block vars
	- var pageId = 1
	- var page_name = "home"

	- var title = "Купить Бетон в Пушкино цене производителя. Доставка до вашего объекта"
	- var description = "Бетон и раствор в Пушкино по цене производителя. Доставка до заказчика в коротие сроки"
	- var keywords = "бетон Пушкино, купить бетон, цена на бетон, бетон с доставкой, раствор Пушкино, купить раствор, раствор цена"

	- var beton_class = "home-page"


block header
	include common_parts/header.pug

block main

	main.beton__main
		.article__container

			.advantages-block.advantages-block--aic-jcsb

				<!-- noindex -->
				.frame-block
					h4.advantages__h4 Своё промышленное производство!
					p.advantages__text.
						Обратившись к нам, заказчик получит столько бетона, сколько потребуется для выполнения плана на строительном объекте.
				<!-- noindex -->
				
				<!-- noindex -->
				.advantages__title
					p.advantages__overhead Наши преимущества
					h3.advantages__h3 Почему заказывать бетон в “Лесстроне” выгодно?
				<!--/ noindex -->


		.article__container

			.advantages-block.advantages-block__items-wrap.advantages-block__items--top-row

				.advantages-block__item
					img(src="img/icon-1.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Сами производим и доставляем 
					p.advantages-block__item__text.
						На нашем заводе собран весь цикл производства бетона, который доставляется нашим автопарком. Никаких переплат посредникам.

				.advantages-block__item
					img(src="img/icon-2.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Отработанная логистика
					p.advantages-block__item__text.
						Мы много раз доставляли бетон в Пушкино. Схемы доставки проверены и работают как часы. Всё доставим в срок.

				.advantages-block__item
					img(src="img/icon-3.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Следим за качеством
					p.advantages-block__item__text.
						Весь изготовленный бетон соответствует ГОСТ-у. Поставляемые смеси полностью соответствуют заявленным характеристикам.


			.advantages-block.advantages-block__items-wrap--bottom-row

				.advantages-block__item
					img(src="img/icon-4.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Не завышаем цены
					p.advantages-block__item__text.
						Покупайте качественный бетон от 3000 руб. за м³. 

				.advantages-block__item
					img(src="img/icon-5.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title К вашим услугам целый завод
					p.advantages-block__item__text.
						Мощности нашего завода хватит даже на самый огромный заказ. Если вам нужно много бетона - вы можете на нас положиться!


		.beton-price-block
			h2.beton-price__h2 Текущие цены на бетон

			.beton-price__table
				include common_parts/table_price_beton.pug


				.promotion-block

					.promotion-block__text-block
						h3.promotion-block__h3 Акция только до 31 августа!
						p.promotion-block__text.
							Бетон М-300 с доставкой <span>по цене 3700 руб/м<sup>3</sup></span> при заказе не менее 7 м<sup>3</sup>
					
					a(href="#callback").big-orange-button.popup-js Заказать бетон

		.assortiment__wrap
			.assortiment-block
				h2.assortiment-block__h2.
					Бетон любой марки<br>
					и в любом объеме

				.assortiment__text-block
					p.
						В таблице выше представлен наш основной ассортимент. Вы можете обратиться к нам в любое время с любым объемом и гарантированно получить партию бетона на свой объект. <b>Наши мощности позволяют нам обработать даже самый большой заказ в короткие сроки</b>. 
					p.
						Помимо бетона, у нас можно заказать готовый строительный раствор. Смесь подберется под ваши задачи. Вы можете проконсультироваться у наших менеджеров по подбору смеси, итоговой стоимости заказа и прочим вопросам.
					p.assortiment__text-block--last-p.
						Наши специалисты способны изготовить нужный вам высококачественный раствор в кратчайшие сроки и доставить на любой объект в Пушкино. Такой подход значительно проще, нежели замешивание раствора вручную. При этом переплата будет небольшой, особенно на больших объемах.
					img(src="img/img_cement-2.jpg", alt="Строительный раствор").assortiment__picture
			
				<!-- noindex -->
				.assortiment-block__post-text
					p.assortiment-block__post-text__text.
						Мы имеем огромный опыт поставки бетона, сохраняя наименьшую цену за куб – только у нас вы сможете не только заказать готовую смесь, но и существенно сэкономить.
				<!--/ noindex -->


		.template-article__wrap
			.text-elements__wrap
				h2.template__h2 Бетон в Пушкино с доставкой
				p.
					Бетон с доставкой в Пушкино – отличное решение для тех, кто затеял строительные работы. Бетон – один из самых востребованных материалов современности, который позволяет очень быстро возводить дома, мосты, строения и прочие сооружения очень быстро. Чтобы сооружение простояло много лет без ремонта, необходимо грамотно подойти к выбору этого материала и обратиться к надежному поставщику.
				p.
					Специалисты нашей компании изготавливают бетонный раствор любой марки. Наличие большого автопарка позволяет осуществлять доставку на объект максимально быстро и без перебоев – это позволит строителям выполнить поставленную задачу быстро и без лишних материальных затрат.
				h3.text__h3 Сотрудничество – преимущества заказчиков
				p
					| Существует несколько причин, по которым сотрудничество с нашей компанией станет правильным и выгодным решением для заказчика:
					ul.text__ul
						li Работаем без посредников – весь процесс, от создания бетонной смеси и до доставки бетона на объект выполняется исключительно нашими специалистами
						li Логистика – благодаря проработанным маршрутам, мы быстро и без задержек доставим бетон в любой район Пушкино
						li Качество – процесс изготовления любой марки бетона осуществляется под строгим контролем и в результате, заказчик получает продукцию высшего качества
						li Ценовая политика – у нас вы можете купить бетон по цене от 3000 руб. за м³, без наценок
						li Большие производственные объемы – благодаря нашим производственным мощностям, мы способны изготовить любое количество бетонного раствора, в указанные в заявке сроки
				p.
					Обратившись к нам, заказчик получит столько бетона, сколько потребуется для выполнения плана на строительном объекте.


		.template-article__wrap
			.text-elements__wrap
				h2.template__h2 Цена (прайс-лист) на строительный раствор

			.beton-price__table.beton-price__table--centered

				include common_parts/table_price_building_mixture.pug
